.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 121, 255);
}

.nav_logo a {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: auto 1rem;
}

.nav_menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_menu ul {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.nav_menu ul li {
    list-style: none;
    display: inline-block;
}

.nav_menu ul li a {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 25px;
}

.nav_menu li:hover, .nav_logo:hover {
    background-color: rgba(176, 159, 159, 0.062);
    text-decoration: underline;
}

.nav_menu li a:hover, .nav_logo a:hover {
    color: black;
}

.heading {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2%;
    text-decoration: underline;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 20%;
    padding-top: 5%;
    padding-left: 5%;
}

.captions {
    font-size: 1rem;
    padding-left: 8%;
}
.text {
    font-size: 1.5rem;
    padding-right: 20%;
    text-align: justify;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.qualification {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.qualification h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 50px;
}

.qualification h2 span {
    color: #0ef;
}

.qualification h4 {
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}

.qualification_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-0);
}

.qualification_button {
    font-size: var(--h2-font-size);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}

.qualification_button:hover {
    color: var(--first-color);
}

.qualification_icon {
    font-size: 2rem;
    margin-right: var(--mb-0-25);
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 3rem;
}

.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.qualification_calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #0ef;
    color: #0ef;
    border-radius: 50%;
}

.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #0ef;
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification_active[data-content] {
    display: block;
}

.qualification_button.qualification_active {
    color: #0ef;
}